form#murmurations-filter-form-list div#edit-basic 
form#murmurations-filter-form-map div#edit-basic {
  display: inline-block;
  margin-right: 1em;
  float: left;
}

form#murmurations-filter-form-list fieldset.fieldgroup,
form#murmurations-filter-form-map fieldset.fieldgroup {
  float:left;
  margin-right: 1em;
}
form#edit-results {
  clear: both;
}