{#
/**
 * @file
 * Default theme implementation to display a murmurations search result in a map bubble
 *
 * Available variables:
 * - title: title of the item
 * - body: Summary of the item, clipped by the preprocessor
 * - url: Primary url of the item
 * - tags: comma separated keywords
 *
 * @see 
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <a href="{{ url }}" _target="blank">{{ title }}</a>
  <br />{{ body }}
</div>
