{#
/**
 * @file
 * Default theme implementation to display a murmurations search result as a list item
 *
 * Available variables:
 * - title: title of the item
 * - body: Summary of the item, clipped by the preprocessor
 * - url: Primary url of the item
 * - tags: comma separated keywords
 * - distance: Distance from the users' location
 * - details_url: url pointing to another web page describing the item in more detail.
 *
 * @see 
 *
 * @ingroup themeable
 */
#}

<div class = "search-result">
    <h4>{{ title }}</h4>
    <p><em>{{ distance }}{{ 'km  from you.'|t}}</em> {{ body }}</p>
    <p>{{ tags }} &nbsp; <a href="{{ url }}">{{'View...'|t}}</a></p>
</div>
